/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-abr-2014, 16:38:15
    Author     : Nico
*/

.float-l{float: left;}
.float-r{float: right;}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a,section{
    text-decoration: none;

}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_900.eot');
    src:  url('../fonts/MuseoSans_900.woff') format('woff'), url('../fonts/MuseoSans_900.ttf') format('truetype'), url('../fonts/MuseoSans_900.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_500.eot');
    src:  url('../fonts/MuseoSans_500.woff') format('woff'), url('../fonts/MuseoSans_500.ttf') format('truetype'), url('../fonts/MuseoSans_500.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_100.eot');
    src:  url('../fonts/MuseoSans_100.woff') format('woff'), url('../fonts/MuseoSans_100.ttf') format('truetype'), url('../fonts/MuseoSans_100.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

body{
    margin:0;
    padding:0;
    font-family: Arial;
    background: #040404;
    position: relative;
}


#page-loader {
    position: absolute;
    z-index: 1000000000;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    -webkit-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
}
#page-loader.hide{
    opacity: 0;
}

#page-loader img{
    position: absolute;
    left: 50%;
    top: 7%;
    /* margin-top: -16px; */
    margin-left: -16px;
}


/* loading animations*/

header.loaderAnim,#botonera-container.loaderAnim,#slide-home.loaderAnim,#pro-web.loaderAnim{
    transform: translateY(200px);
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: transform;
}

header{
    background:#040404;
    height: 30px;
    padding: 15px 35px 7px;
    color:white;
    font-size: 12px;
    color:#dbdbdb;
    letter-spacing: 2px;
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    transition-duration: 0.3s;
    transform: translateY(0);
}
header ul li {
    display: block;
    margin-right: 19px;
    float: left;
}
header ul li a{
    color:white;
    font-size: 12px;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 4px;
    display: inline-block;
}

header ul li a:after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFF;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

header ul li a:hover:after{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(-3px);
}
#logo-worq{
    margin-left: 5px;
    margin-right: 44px;
    float: left;
    display: inline-block;
    margin-top: -5px;
}

header > span{
    float: left;
    margin-top: 9px;
    color:white;
}
header ul{
    display: inline-block;
    margin-top: -2px;
    margin-left: 38px;
}

.header-left, .header-center ,.header-right{
    display: table-cell;
    vertical-align: top;
    width: 33%;
}

.header-left{
    padding-top: 8px;

    width: 29%;
}
.header-left a{
    color: white;
}

.header-center{
    text-align: center;


    width: 42%;
}
.header-center span{


}
.header-right{
    font-weight: bold;
    font-size: 12px;
    padding-top: 8px;
    letter-spacing: 2px;
    text-align: right;
}
.header-right span{
    /* margin-left: 14px; */
}

.header-right b a{
    color:#6dc823;

}

.header-right .idioma{}
.header-right .idioma a{color: white;}
.header-right .idioma a.active{color: #6DC823;}
.header-right .llamar{}
.header-right .contacto{}


#slide-home , #botonera-container{
    padding: 0;
    transition-duration: 0.4s;

}

#slide-home-bg{
    width: 100%;
    height: 899px;
    height: 75vh;
    /** background: url(../img/bg2.jpg) no-repeat 50%;*/
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}
#slide-home-bg .img-bg{
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    width: 100%;
    height: 100%;
}
.slide-notebook{}
.slide-notebook img{
    height: 100% !important;
    width: auto !important;
    right: 0 !important;
}
.contenedor-contenido{
    position: absolute;
    top: 24%;
    left: 74px;
    overflow: hidden;
    z-index: 0;
}

#slide-home{
    color:white;
    /* width: 60%; */
    overflow: hidden;
    transition: transform 0.5s;
}
#slide-home h1{
    font-family: 'MuseoSans';
    font-weight: 900;
    font-size: 170px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    position: absolute;
    top: 50%;
    margin-top: -109px;
    left: 11%;
}
.separador{
    width: 140px;
    height: 4px;
    background: white;
    margin-bottom: 30px;
    margin-top: 40px;
}
#slide-home h2{
    font-family: 'MuseoSans';
    font-weight: 100;
    opacity: 1;
    font-size: 43px;    
    margin: 0;
    text-transform: uppercase;
    color:white;
    /* position: absolute; */
    top: 50%;
    /* margin-top: -54px; */
    left: 12%;
}

#slide-home p{
    opacity: 0;
}
#slide-home h2 b{
    font-weight: bold;
}
.slide{
    display: block;
    width: 100%;
    margin: 0;
    height: 75vh;
    position: relative;
}
.slide-text , .slide-action{
    width: 50%;
    display: block;
    vertical-align: middle;
    float: left;
    height: 75vh;
    position: relative;
}
.slide-text {
}
.slide-cta .slide-text{
    width: 100%;
    text-align: center;
    position: absolute;
    height: auto;
    top: 50%;
    margin-top: -113px;
}
.slide-action{
    position: relative;
}
.slide-action img{
    position: absolute;
    bottom: 0;
    right: 117px;
    width: 406px;
}

.cta-slide {

    margin-top: 62px;
}

#call-action1{
    /* position: absolute; */
    top: 50%;
    text-align: center;
    right: 116px;
    z-index: 10;
    margin-top: -71.5px;
}


.bt-form{
    background: #71CF26;


    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    border: 0;
    border-radius: 2px;
    text-align: center;
    padding: 18px 26px;  
    box-shadow: 4px 8px 17px rgba(0, 0, 0, 0.62);
    font-family: MuseoSans;
    cursor: pointer;
    display: inline-block;



}


#cerrar-contacto {
    position: absolute;
    cursor: pointer;
    right: 50px;
    top: 30px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -transition: all .2s linear;
}
#cerrar-contacto:hover {
    -webkit-transform: rotate(90deg);
}
#cerrar-contacto img{
    display: block;
}
#contacto{
    overflow: hidden;
    position: absolute;
    margin: 0;
    -webkit-transition: opacity 600ms,  cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: opacity  600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    -o-transition: opacity  600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    -ms-transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    opacity: 0;
    bottom: 0;
    top: 40px;
    z-index: 100000000;
    text-align: center;  
    box-sizing: border-box;
    padding: 0;

    /* height: 0%; */
    overflow: hidden;
    visibility: hidden;
}
#contacto.mostrar{
    height: 100%;
    opacity: 1;

    padding: 25px 0 75px 0;
    visibility: visible;
}
.contenido-contacto{
    /* transform:  translateY( -50% ); */
    -webkit-transition:  transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition:  transform 600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    -o-transition:  transform 600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    -ms-transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1) ;
    transition:  transform 600ms cubic-bezier(0.19, 1, 0.22, 1); 
    position: relative;
    z-index: 1000;
}
#contacto.mostrar .contenido-contacto{
    /* transform: rotateX(0deg); */
}
#contacto .separador{
    width: 140px;
    height: 4px;
    background: white;
    margin-bottom: 30px;
    margin-top: 40px;
    left: 67%;
    position: relative;
}
.contenido-contacto{
    /* text-align: right; */
    color: white;
}
.contenido-contacto h2{
    font-family: 'MuseoSans';    
    font-size: 60px;
    margin-bottom: 44px;
}









#form-contacto{
    position: relative;
    width: 800px;
    text-align: center;
    padding: 48px 20px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -transition: all .2s linear;
    margin: 0 auto;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1000000000;
    font-family: 'MuseoSans';

}

.contenedor-input{
    position: relative;
    display: inline;
}
#form-contacto h5{
    font-family: 'MuseoSans';
    color:#5c5c5c;
    font-size: 24px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top:0;
    text-align: center;

    font-weight: 100;
}


#form-contacto input[type=text], #form-contacto textarea{
    border: 2px solid #595959;
    border-radius: 3px;
    color: #595959;
    width: 28%;    
    font-family: MuseoSans;
    padding: 12px 0;
    text-indent: 10px;
    background: white;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin: 2%;
    outline: none;
    -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;

}

#form-contacto input[name=sex]{
    position: absolute;
    left: -50000px;
    top: -9666666px;
}

#form-contacto input[type=text]:focus, #form-contacto textarea:focus{  box-shadow: 0 0 10px #6C6868;}
#form-contacto input[type=text]:active, #form-contacto textarea:active{  box-shadow: 0 0 5px #15C710;}
#form-contacto textarea{
    width: 94%;
    margin-bottom: 31px;
}
#form-contacto input[type=text].input-error, #form-contacto textarea.input-error{
    border-color: #da0080;
    color: #da0080;
}
#form-contacto input[type=submit]{
    background: #72d224;
    color:white;
    font-size: 21px;
    font-weight: 500;
    border: 0;
    border-radius: 2px;
    padding: 13px 54px;    
    margin-bottom: -21px;
    display: inline-block;
    float: right;
    margin-right: 23px;
    margin-top: 6px;
}
.separador-contacto{
    background: #d6d6d6;
    height: 1px;
    width: 123px;
    display: inline-block;
    margin: 53px 0;
}
.separador-contacto.separador2{
    margin: 35px 0;
    display: none;
}
.necesito{}


#form-contacto .necesito h5{
    margin-bottom: 28px;

}

.necesito input{
    display: none;
}

.invertir {
    margin-top: -16px;
    display: none;
}

.necesito-bt {
    background-color: #EFF3F4;
    display: inline-block;
    padding: 14px 20px;
    border-radius: 4px;
    color: #121212;
    font-weight: 900;
    font-size: 15px;
    font-family: MuseoSans;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 19px;
    -webkit-touch-callout: none;      -webkit-user-select: none;      -khtml-user-select: none;      -moz-user-select: none;      -ms-user-select: none;      user-select: none;
}

#form-contacto .datos-cliente h5{
    margin-bottom: 49px;
    position: relative;

}
.datos-cliente{
    position: relative;
}
.form-invalid{
    color: #da0080;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    top: 59px;
    display: none;
    left: 21px;
}
input:checked + .necesito-bt{
    background: #0169fe;
    color: white;
}

.slider-invertir{
    position: relative;
    display: inline-block;
    margin-top: 6px;
}
.slider-invertir .pelota{
    background: #4d5257;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    position: absolute;
    top: 0;
}
.slider-invertir .linea{
    background: #bbcdd1;
    height: 7px;
    width: 380px;
    display: inline-block;
    border-radius: 4px;
}
.slider-invertir .valor{
    font-family: MuseoSans;
    color: #9aabaf;
    font-weight: 900;
    font-size: 17px;
    position: absolute;
    left: 50%;
    top: -23px;
    margin-left: -25px;
}


#form-contacto input[type=submit]:hover{
    background: #56AB10;
    cursor:pointer;
}

#form-contacto span{
    color:#dbdbdb;
    font-size: 12px;
    font-family: Arial;
    display: none;
}


#contacto-progress{
    display: none;            
    position: absolute;   
    right: 0;
    background-color: rgba(255, 255, 255, 0.61);
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 100;
}
#contacto-progress img{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
    display: block;
}

#contacto-ok{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
    font-family: MuseoSans;
    display: none;
}
#contacto-ok h3{
    font-family: MuseoSans;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
}
#contacto-ok h4{
    font-family: MuseoSans;
    font-weight: 300;
    font-size: 60px;
    margin: 60px 0;
}
#contacto-ok button{
    color: #121212;
    font-size: 15px;
    font-weight: 900;
    border: none;
    background: #eff3f4;
    border-radius: 3px;
    font-family: MuseoSans;
    cursor: pointer;
    padding: 15px 25px;
}

.telefonos{
    text-align: center;

    overflow: hidden;
    width: 835px;
    margin: 18px auto;
    display: table;
}
.telefonos h4{
    color: #afafaf;
    font-size: 15px;
    font-weight: 300;
    display: table-cell;
    font-family: MuseoSans;
}
.telefonos .email{
    text-align: left;
}
.telefonos .cel{
    /* float: right; */
    text-align: right;
}
.telefonos .ciudad{
    padding-right: 5px;
}



#botonera{
    overflow: hidden;
    position: relative;
    z-index: 10000;
    height: 76px;
    background-color: white;
}
#botonera li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 1;

    height: 76px;
}
#botonera li:last-child{
    border-right: none;
}
#botonera a{
    color: #040404;
    font-size: 16px;
    font-weight: bold;
    background: #FFF;

    display: block;
    outline: none;
    border-right: 1px solid #BFBFBF;
    font-family: 'MuseoSans';
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}


#botonera a:hover{
    background: #6cc722;
    color:white;
}


#botonera a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -moz-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -o-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -ms-transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0;
    -moz-transition-property: all;
    -moz-transition-duration: 400ms;
    -moz-transition-timing: cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition-delay: 0;
    /* background: #6cc722; */
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

#botonera a:hover:after {
    /* height: 100%; */
}






/*-----*/
#botonera a {
    line-height: 79px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    height: 76px;
}

#botonera a span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: white;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 18px 0 14px 0;
    display: block;
}

#botonera a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6cc722;
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    padding: 17px 0 26px 0;

}

#botonera a:hover span,
#botonera a:focus span {
    /* -webkit-transform: rotateX(90deg) translateY(-22px); */
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(0px);
}

#botonera a:hover span::before,
#botonera a:focus span::before {
    background: #6cc722;	
}

/*-----*/





.proyecto-over{    
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    position: absolute;     
    color:white;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: 'MuseoSans';
    z-index: 10000;
    opacity: 0;
    cursor: pointer;
    background:#68c023;   
    display: block;
    padding-top: 87px;

    transition: opacity;
    -moz-transition: opacity;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms /* Opera */;
}
.proyecto-over:hover{
    opacity: 0.9;
}





.proyecto-over-contenido{
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding-top: 18%;
}
.proyecto-over:hover .proyecto-over-contenido{
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

#ultimos-proyectos-slider{
    padding: 0 40px 0px 40px
}


.slide-proyecto{
    height: 600px;
    background-size: cover;
    background-position: 50%;
    display: table;
    width: 100%;
}
.slide-proyecto-imagen , .slide-proyecto-contenido {
    display: table-cell;
    vertical-align: top;
    width: 33%;
}

.slide-proyecto-contenido img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.slide-proyecto-imagen img{
    max-width: 100%;
    display: block;
}
.fala-mac {
    margin-top: 6%;
    margin-left: 11%;
}
.fala-ipad {
    margin-top: 8%;
    margin-left: 3%;
}
.slide-proyecto-contenido{
    text-align:center;

}
.slide-proyecto-contenido .laureles{
    margin-top: 72px;
    margin-bottom: 18px;
}
span.slide-proyecto-titulo {
    margin-top: 28px;
}
span.slide-proyecto-texto {
    margin-top: 5px;
}
.slide-proyecto-contenido span{
    display: block;
}

.slide-proyecto-titulo{
    font-family: 'MuseoSans';
    font-weight: 100;
    color: #535353;
    font-size: 41px;    
}

.slide-proyecto-texto{
    font-family: 'Open Sans';
    font-weight: normal;
    color: #686868;
    font-size: 18px; 
}


.slide-proyecto-link{
    color: white;
    background: #c24f33;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 20px;
    padding: 14px 24px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #696969;
}

.slide-proyecto-proweb{
    color: #040404;
    font-size: 51px;
    font-weight: 900;
    font-family: 'MuseoSans';
    margin-top: -4px;
}
.slide-proyecto-proweb span{
    font-size: 74px;
    font-weight: 900;
    color: #68C023;
    line-height: 0;
    display: inline;
}

#slide-falazairroo{
    background-image: url(../img/falazairrooBg.jpg);
}
#slide-contadores{
    background-image: url(../img/contadoresBg.jpg);
}
#slide3{
    background-image: url(../img/falazairroo.jpg);
}

#slide-contadores .slide-proyecto-titulo{
    color: #f4f5f0;
    font-size: 41px;

    text-align: center;
    margin: 104px auto 8px;
}
#slide-contadores .slide-proyecto-proweb{
    color: #f4f5f0;

}
#slide-contadores .slide-proyecto-link{
    background: #a4363e;
    box-shadow: 0px 0px 5px #020202;

}
#slide-contadores .slide-proyecto-texto{
    color: white;
    margin: 5px auto 0;
    line-height: 22px;
    letter-spacing: 1px;
    width: 94%;
}
#slide-contadores .slide-proyecto-imagen{
    width: 40%;
}
#slide-contadores .slide-proyecto-contenido{
    width: 20%;
}

img.contadores-mac {
    margin-top: 21%;
    margin-left: 7%;
    max-width: 112%;
}
img.contadores-ipad {
    margin-top: 22%;
    margin-left: 11%;
}


#ultimos-proyectos{
    position: relative;
    background: #121212;
    padding: 86px 10px 140px;
    margin-top: 0;      
    text-align: center;
}
#ultimos-proyectos h3{
    color:white;
    font-size: 75px;
    font-family: 'MuseoSans';
    font-weight: 900;
    margin-top:0;
    margin-bottom: 61px;
    text-align: center;
}
#ultimos-proyectos h3 span{
    font-size: 75px;
    line-height: 0;
    font-weight: 500;
}

#ultimos-proyectos a.ver-mas{
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    padding: 16px 72px;
    display: inline-block;
    margin-top: 62px;
    color: white;
}
#ultimos-proyectos a.ver-mas:hover{
    background-color: #FFF;
    color: #4A4A4A;
}
.fila-proyectos{
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 30px;
}

.proyecto {
    position: relative;
    width: 23%;
    will-change:transform;
    overflow: hidden;
    height: 445px;
    background-size: cover;
    background-position: 50%;
    /* padding: 0 25px 0 0; */
    box-sizing: border-box;
    display: table-cell;
    margin-right: 2%;
    table-layout: fixed;
    border-collapse: separate;
    border-width: 20px;
}
.proyecto img{
    max-width: 100%;
    display: block;
    width: 100%;
    transform: scale(1);
    -webkit-transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);

    height: 100%;
}
.proyecto:hover img{
    transform: scale(1.2);

}

.bg-separador{
    z-index: 1;
    background: #040404;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}



#pro-web{
    padding: 0;
    font-family: 'MuseoSans';
    transform: translate(0);
    transition-duration: 0.6s;
}
.pro-web-container{
    width: 1200px;
    margin: 0 auto;
}
.bg-pro-web{
    padding: 8% 90px 6%;
    background: #F8FAFB;       
    text-align: center;
    background-position: 100% 0;
}

#pro-web h4{
    margin: 29px 0 40px;
    color:#040404;
    font-size: 76px;
    font-weight: 900;   
}
#pro-web h4 span{
    font-size: 113px;
    font-weight: 900;
    color: #68C023;
    line-height: 0;
}
.propiedades{
    margin-bottom: 45px;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.propiedades span{
    font-size: 23px;
    color:#444444;
    font-weight: 500;
    display: block;
    width: 33%;
    float: left;
    margin-top: 6px;
    margin-bottom: 64px;
}
#pro-web a {
    background: #70c32f;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    border-radius: 3px;
    color:white;
    padding: 16px 40px;
    display: inline-block;
    box-shadow: 0px 1px 6px #575757;
    margin-top: 129px;
    margin-bottom: 61px;
}
#pro-web a:hover{
    background:#7ad631;
}


.section-text {
    width: 50%;
    float: left;
}
.section-col{
    width: 100%;

    overflow: hidden;
}
#pro-web .section-col2{
    margin-top: 33px;
    overflow: hidden;
}
.section-col .section-text{}
.section-col .section-text h3{
    color: #444444;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 4px;
}
.section-col .section-text p{
    color: #828b91;
    font-size: 17px;
    font-weight: 300;
    margin-top: 9px;
}
.section-footer p{
    color: #626262;
    font-size: 13px;
    font-weight: 300;
}
#apps{
    margin: 0;
    overflow: hidden;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24449b+0,24449b+8,24449b+8,15e26c+100 */
    background: #24449b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjQ0NDliIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiMyNDQ0OWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzI0NDQ5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNWUyNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(-45deg,  #24449b 0%, #24449b 8%, #24449b 8%, #15e26c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#24449b), color-stop(8%,#24449b), color-stop(8%,#24449b), color-stop(100%,#15e26c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #24449b 0%,#24449b 8%,#24449b 8%,#15e26c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #24449b 0%,#24449b 8%,#24449b 8%,#15e26c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #24449b 0%,#24449b 8%,#24449b 8%,#15e26c 100%); /* IE10+ */
    background: linear-gradient(135deg,  #24449b 0%,#24449b 8%,#24449b 8%,#15e26c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24449b', endColorstr='#15e26c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    position: relative;
}

.apps-contenedor {
    overflow: hidden;
    /* width: 1305px; */
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.contenido-apps{
    overflow: hidden;
    text-align: center;
    font-family: 'MuseoSans';

    color:white;
    box-sizing: border-box;
    /* margin-left: 84px; */
    position: relative;
    width: 1305px;
    margin: 0 auto;
}
.apps-contenedor img{
    max-width: 100%;
    height: auto!important;
}
#apps .section-col{
    width: 67%;
    margin: 0 auto;
}
#apps .section-text{
    text-align: left;
}
#apps .section-text p{
    color: white ;
    font-family: 'MuseoSans';
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}
#apps .section-footer p{
    font-size: 13px;

    color: white;
    margin-top: 12px;
    margin-bottom: 59px;
}
.contenido-apps h3{
    font-family: 'MuseoSans';
    font-size: 87px;
    font-weight: 900;
    margin-top: 108px;
    margin-bottom: 24px;
    line-height: 83px;
}
.contenido-apps .section-text p{
    margin-bottom: 55px;
}
.contenido-apps h3 span{

    font-weight: 100;
    display: block;

    letter-spacing: -4px;

}
.contenido-apps h4{
    font-weight: 300;
    font-size: 14px;
}
.contenido-apps p{
    font-size: 36px;
    font-weight: 300;
    margin: 32px 0 118px;
}

.contenido-apps p b{
    font-weight: 500;
}
.contenido-apps a{
    display: inline-block;
    /* color:white; */
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 3px;
    padding: 17px 51px;
    margin: 0 0 54px;
    color: #3F3F2E;
    border-radius: 4px;  background-color: #fbca1d; box-shadow: 0 1px 5px rgba(0,0,0,.7);
}
.contenido-apps a:hover{
    background: #FEFF21;
}

.contenido-apps .separador{
    margin: 7px auto -8px;
}


.imagen-app1{
    position: absolute;
    top: 151px;
    left: 0;
    width: 34%;
}
.imagen-app2{
    position: absolute;
    right: 0;
    top: 153px;
    width: 34%;
}


#servicios{
    overflow: hidden;
    padding: 0;
    font-family: 'MuseoSans';
    text-align: center;
    margin-top: -7px;
    background: url(../img/brand-bg.jpg)no-repeat;
    background-size: cover;
    padding-bottom: 74px;
}
#servicios h4{
    font-weight: 300;
    color: white;
    font-size: 45px;
    margin-bottom: 57px;
}

#servicios p{
    color: white
        ;
    line-height: 24px;
    margin-top: -3px;
    margin-bottom: -26px;
}
#servicios2{
    overflow: hidden;
    padding: 0;
    font-family: 'MuseoSans';
    text-align: center;
}

.contenido-servicios{
    color:white;
    padding-top: 10px;
}
.contenido-servicios h3{
    font-weight: 900;
    font-size: 76px;
    margin-top: 93px;
    margin-bottom: 31px;
}
.contenido-servicios h3 span{
    color:#78d32e;
    font-weight: 900;
    font-size: 76px;

}
.contenido-servicios .nuestros-servicios span{
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 16px;
}

.contenido-servicios{
    /* background: url(../img/bg-consulting.jpg) #b70178 no-repeat 50%; */
    /* background-size: cover; */
    padding-bottom: 127px;
}
#servicios2 .contenido-servicios h3{
    font-weight: 900;
    font-size: 76px;
    width: 72%;
    margin: 53px auto 18px auto;
}

#servicios2 .contenido-servicios .nuestros-servicios span{
    width: 20%;    
}
#servicios2 .contenido-servicios .nuestros-servicios span.seo{
    width: 10%;
}

#servicios2 .contenido-servicios{
    background:url(../img/bg-metricas.jpg) #24449b no-repeat;
    background-size: cover;
}
#servicios2 .contenido-servicios .nuestros-servicios span{
    margin-bottom: 77px;
}

#botonera2{
    padding: 25px 40px;
    height: 20px;
}
#botonera2 ul li a{
    color:white;
    font-size: 12px;
    letter-spacing: 2px;
}
#botonera2 ul li{
    float: left;
    margin-right: 14px;
}

.botonera2-right{   
    float: right;    
    font-size: 12px;
    color:white;    
    letter-spacing: 2px;
}
.botonera2-right span{
    margin-left: 14px;
}

#worq2{
    padding: 0 40px 0px;
}

.bg-worq2{
    background: url(../img/rosario.jpg)no-repeat;
    background-size: cover;
    color:white;
    padding-top: 100px;
    padding-bottom: 160px;
    padding-left: 95px;
}

.bg-worq2 h1{
    font-family: 'MuseoSans';
    font-weight: 900;
    font-size: 130px;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    line-height: 105px;
}
.separador{
    width: 140px;
    height: 2px;
    background: white;
    margin-bottom: 30px;
    margin-top: 40px;
}
.bg-worq2 h2{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;    
    margin: 0;
    text-transform: uppercase;

}

#suscribir{
    padding: 0;
    font-family: 'MuseoSans';
}
.contenido-suscribir h3{font-weight: 300;font-size: 26px;color: white;text-transform: uppercase;line-height: 32px;}
.contenido-suscribir{
    background: url(../img/bg-suscribite.jpg)no-repeat;
    background-size: cover;
    text-align: center;
    padding: 88px 0 171px;
}

#form-suscribir{
    display: inline-block;
    background-color: white;
    padding: 7px 8px 7px 4px;
    border-radius: 4px;
    margin-top: 19px;
    text-align: left;
    overflow: hidden;



}
#form-suscribir.activo{
    box-shadow: 0px 0px 16px #BAA7B6;

}
#form-suscribir input[type=text]{
    border: none;
    font-family: Arial;
    font-size: 15px;
    color: #343434;
    padding: 10px 16px;
    float: left;
    outline: none;
    /* box-shadow: 0px 0px 16px #BAA7B6; */;
}
#form-suscribir input[type=submit]{
    background-color: #5fb514;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    float: right;
    padding: 10px;
}

footer{
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
    padding: 27px 52px;
    height: 15px;
    letter-spacing: 2px;
    margin-top: -58px;
    margin-bottom: 0;
}


#botonera-fixed{
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    z-index: 1000000;
    width: 100%;
    background: #FFF;
    box-shadow: 1px 0px 5px #757474;
}
.botonera-marco{
    padding: 0 40px;
    width: 1240px;
    margin: 0 auto;
}
.botonera-bg{
    background: white;
    /* border-bottom: 1px solid #b1b1b1; */
    overflow: hidden;
    /* box-shadow: 1px 0px 5px #757474; */
}
#logo-botonera{

    float: left;
    margin-top: 7px;
    margin-left: 30px;
}
#logo-botonera a{
    color: #000;
    font-weight: 900;
    font-size: 40px;
    font-family: 'MuseoSans';
}
#navegacion-fixed{
    overflow: hidden;   
    display: block;
    position: relative;
    margin-left: 25%;
}
#navegacion-fixed li{
    /* float: left; */
    /* border-left: 1px solid #CDCDCD; */
    height: 62px;
    display: inline-block;
}
.nav-fixed-contacto{
    float: right;
}


#navegacion-fixed li a{
    color: #505867;
    font-size: 13px;
    font-weight: bold;
    font-family: MuseoSans;
    display: inline-block;
    vertical-align: middle;
    padding: 26px 19px;
}


#navegacion-fixed li a:hover , #navegacion-fixed li.activo a{
    color: #70c32f;
}

#press-head{
    color: white;
    font-family: 'MuseoSans';
    text-align: center;
    padding: 13px 0 1px;
    background: url(../img/press-head-bg.jpg);
    background-size: cover;
}
#press-head h1{
    font-weight: 900;
    font-size: 140px;
    text-transform: uppercase;
    margin: 114px 0;
}
#press{
    /* background:#202022; */
    margin: 0 40px 40px 40px;
    padding: 24px 117px;
    color:white;
    width: 998px;
    margin: 0 auto;
}
#press h1{
    font-family: 'MuseoSans';
    font-size: 60px;
    font-weight: 900;
    margin-left: 85px;
    margin-top: 85px;
    margin-bottom: 20px;
}

#press .separador{
    width: 130px;
    height: 4px;
    background: #FFF;
    margin-bottom: 65px;
    margin-top: 0;
    margin-left: 130px;
}


#press li{
    /* border-top:1px solid #373739; */
    padding: 65px 0 23px;
    overflow: hidden;
    position: relative;
}

#press li img {
    float: left;
}

.prensa-logo{
    float: left;
    background: url(../img/sprite-prensa.jpg)no-repeat;
    width: 240px;
    height: 70px;
}

.prensa-forbes{
    background-position: 0px -108px;
}

.prensa-telam{
    background-position: 0px 0px;
    height: 112px;
    margin-top: -30px;
    margin-left: 20px;
}

.prensa-on{
    background-position: 0px -323px;
    margin: 6px 11px;
}
.prensa-mdz{
    background-position: 0px -177px;
    height: 80px;
    margin: 3px 15px;
}
.prensa-rosario3{
    background-position: 0px -386px;
    width: 277px;
    margin: 17px -2px;
}
.prensa-ciudadano{
    background-position: 0px -258px;
    margin: 11px 16px;
}


#press li span {
    float: right;
    font-size: 143px;
    font-weight: bold;
    color: #BF015A;
    line-height: 73px;
    margin-top: 32px;
    margin-right: 38px;
}
#press li p {
    float: right;
    font-size: 14px;
    color: #FFF;
    width: 59%;
    line-height: 26px;
    font-family: 'MuseoSans';
    font-weight: 300;
    margin-top: 23px;
}

#team{
    color: #FFF;
    margin: 0 40px;
    background: url(../img/pattern.gif);
    padding: 1px 100px 100px 120px;
    overflow: hidden;
}
#team.company{
    background:#b70178;
}

.team-intro , .team-contenido{
    float: left;
    padding-top: 75px;
}
.team-intro{
    text-align: right;
    width: 30%;
    position: relative;
}
.team-contenido{
    width: 60%;
    padding-left: 80px;

    font-family: 'Open Sans';
}

#team h1{
    font-weight: 900;
    font-family: 'MuseoSans';
    font-size: 60px;
    text-align: right;

    margin-top: 0;
    margin-bottom: 10px;
}

#team h3{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-top: 40px;
}

.team-contenido .parrafo-1{
    font-size: 30px;
    margin-top: 0;
}
.team-contenido .parrafo-2{
    font-size: 21px;
}

#team .separador{
    position: absolute;
    right: 0;
    margin-top: 0;
}

#team-experience{
    font-family: 'MuseoSans';
    overflow: hidden;
    margin: 0 40px;
    padding-left: 70px;
    margin-top: -70px;
    padding-bottom: 100px
}

#team-experience *{
    float: left;
}

#team-experience img{

}
.exp-contenido{
    margin-top: 180px;
    margin-left: 60px;
    width: 50%;
}

#team-experience p{
    color: #FFF;
    font-weight: 100;
    font-size: 36px;
    text-transform: uppercase;
    width: 35%;
    margin-top: 17px;
    margin-left: 15px;
}
#team-experience span{
    color:#24449b;
    font-weight: 900;
    font-size: 102px;

}
#team-experience.company span{
    color:#b70178;


}

#we-are{
    font-family: 'MuseoSans';
    text-align: center;
    color: white;
    background:url(../img/we-are-bg.jpg) #3d1f51;
    background-size: cover;
    padding: 20px 0 308px;
}
#we-are h1{
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;

    margin: 209px 0 -28px 0;
}
#we-are h3{
    font-size: 24px;
    font-weight: 100;
}

#we-are-2{
    font-family: 'MuseoSans';
    background: #f7f8fa;
    overflow: hidden;
    padding: 14px 0 81px;
}
.we-are-container{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.we-are-col{
    width: 50%;
    float: left;   
    /* padding-right: 101px; */
    box-sizing: border-box;
}


#we-are-2 h3{
    font-weight: 100;
    font-size: 60px;
    color: #000;
    margin-bottom: 62px;
    word-break: break-word;
}
#we-are-2 h4{
    color: #828b91;
    font-weight: 300;
    font-size: 24px;
    margin-top: 55px;
    line-height: 47px;
    margin-bottom: -3px;
}
#we-are-2 h4 img{
    margin-right: 7px;
}
.we-are-content{
    padding-right: 70px;
}
#we-are-2 p{
    color: #828b91;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 31px;
}


#what-we-do{
    font-family: 'MuseoSans';
    background: url(../img/we-do-bg.jpg) #115af5;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 83px 0 126px;
}
#what-we-do h2{
    font-weight: 900;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.what-we-do-container{
    width: 1145px;
    margin: 0 auto;
}
.what-we-do-container p{
    text-align: left;

    width: 33%;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 55px;
}
.we-do-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.we-do-list li{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin: 0 27px;
}

#what-we-do h4{
    color: #040d1a;
    font-size: 13px;
    margin-top: 53px;
}

.section-footer.we-do-everyday p{
    color: #9cc5ff;
    margin-top: -8px;
}


#rosario{
    font-family: 'MuseoSans';
    color: white;
    text-align: center;
    background: url(../img/rosario1.jpg);
    background-size: cover;
    padding: 210px 0;
    position:   relative;
    height: 207px;
}
#rosario h2{
    font-size: 75px;
    font-weight: 900;

    margin-top: 0;
    margin-bottom: 17px;
}
#rosario p{
    font-weight: 100;
    font-size: 17px;
    line-height: 23px;
}

.rosario-content{
    position: absolute;
    top: 59%;
    width: 100%;
}



.shake:hover {
    -webkit-animation-name: shake-base;
    -ms-animation-name: shake-base;
    animation-name: shake-base;
    -webkit-animation-duration: 100ms;
    -ms-animation-duration: 100ms;
    animation-duration: 100ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes shake-base { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
                                2% { -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
                                4% { -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
                                6% { -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
                                8% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg); }
                                10% { -webkit-transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
                                12% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
                                14% { -webkit-transform: translate(1.5px, -2.5px) rotate(-0.5deg); }
                                16% { -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg); }
                                18% { -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
                                20% { -webkit-transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
                                22% { -webkit-transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
                                24% { -webkit-transform: translate(-1.5px, -2.5px) rotate(-1.5deg); }
                                26% { -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
                                28% { -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
                                30% { -webkit-transform: translate(-2.5px, 1.5px) rotate(0.5deg); }
                                32% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
                                34% { -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg); }
                                36% { -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
                                38% { -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
                                40% { -webkit-transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
                                42% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                                44% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                                46% { -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg); }
                                48% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                                50% { -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
                                52% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
                                54% { -webkit-transform: translate(1.5px, 0.5px) rotate(-1.5deg); }
                                56% { -webkit-transform: translate(0.5px, 0.5px) rotate(-1.5deg); }
                                58% { -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
                                60% { -webkit-transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
                                62% { -webkit-transform: translate(-2.5px, -1.5px) rotate(-0.5deg); }
                                64% { -webkit-transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
                                66% { -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
                                68% { -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
                                70% { -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg); }
                                72% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
                                74% { -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg); }
                                76% { -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
                                78% { -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg); }
                                80% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
                                82% { -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
                                84% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                                86% { -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
                                88% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
                                90% { -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg); }
                                92% { -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
                                94% { -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
                                96% { -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg); }
                                98% { -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg); } 
}

@-ms-keyframes shake-base { 0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
                            2% { -ms-transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
                            4% { -ms-transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
                            6% { -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
                            8% { -ms-transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
                            10% { -ms-transform: translate(1.5px, -2.5px) rotate(-1.5deg); }
                            12% { -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
                            14% { -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
                            16% { -ms-transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
                            18% { -ms-transform: translate(1.5px, -0.5px) rotate(-1.5deg); }
                            20% { -ms-transform: translate(-1.5px, -2.5px) rotate(-0.5deg); }
                            22% { -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
                            24% { -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
                            26% { -ms-transform: translate(-1.5px, -2.5px) rotate(0.5deg); }
                            28% { -ms-transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
                            30% { -ms-transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
                            32% { -ms-transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
                            34% { -ms-transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
                            36% { -ms-transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
                            38% { -ms-transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
                            40% { -ms-transform: translate(1.5px, -1.5px) rotate(0.5deg); }
                            42% { -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
                            44% { -ms-transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
                            46% { -ms-transform: translate(1.5px, 0.5px) rotate(0.5deg); }
                            48% { -ms-transform: translate(-2.5px, 0.5px) rotate(0.5deg); }
                            50% { -ms-transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
                            52% { -ms-transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
                            54% { -ms-transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
                            56% { -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg); }
                            58% { -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
                            60% { -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
                            62% { -ms-transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
                            64% { -ms-transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
                            66% { -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
                            68% { -ms-transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
                            70% { -ms-transform: translate(-1.5px, 1.5px) rotate(-1.5deg); }
                            72% { -ms-transform: translate(0.5px, -2.5px) rotate(-1.5deg); }
                            74% { -ms-transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
                            76% { -ms-transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
                            78% { -ms-transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
                            80% { -ms-transform: translate(0.5px, 0.5px) rotate(-1.5deg); }
                            82% { -ms-transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
                            84% { -ms-transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
                            86% { -ms-transform: translate(-0.5px, 0.5px) rotate(-1.5deg); }
                            88% { -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg); }
                            90% { -ms-transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
                            92% { -ms-transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
                            94% { -ms-transform: translate(-1.5px, -1.5px) rotate(-1.5deg); }
                            96% { -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg); }
                            98% { -ms-transform: translate(-2.5px, -0.5px) rotate(0.5deg); } 
}

@keyframes shake-base { 0% { transform: translate(0px, 0px) rotate(0deg); }
                        2% { transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
                        4% { transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
                        6% { transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
                        8% { transform: translate(-1.5px, -2.5px) rotate(0.5deg); }
                        10% { transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
                        12% { transform: translate(-1.5px, 1.5px) rotate(-1.5deg); }
                        14% { transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
                        16% { transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
                        18% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                        20% { transform: translate(-2.5px, 0.5px) rotate(-1.5deg); }
                        22% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
                        24% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
                        26% { transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
                        28% { transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
                        30% { transform: translate(-2.5px, 0.5px) rotate(0.5deg); }
                        32% { transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
                        34% { transform: translate(0.5px, -2.5px) rotate(-1.5deg); }
                        36% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
                        38% { transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
                        40% { transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
                        42% { transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
                        44% { transform: translate(-2.5px, -2.5px) rotate(0.5deg); }
                        46% { transform: translate(0.5px, -2.5px) rotate(0.5deg); }
                        48% { transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
                        50% { transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
                        52% { transform: translate(1.5px, 0.5px) rotate(0.5deg); }
                        54% { transform: translate(-2.5px, 0.5px) rotate(-1.5deg); }
                        56% { transform: translate(-2.5px, 1.5px) rotate(0.5deg); }
                        58% { transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
                        60% { transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
                        62% { transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
                        64% { transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
                        66% { transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
                        68% { transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
                        70% { transform: translate(0.5px, 1.5px) rotate(0.5deg); }
                        72% { transform: translate(-2.5px, 1.5px) rotate(0.5deg); }
                        74% { transform: translate(1.5px, -0.5px) rotate(0.5deg); }
                        76% { transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
                        78% { transform: translate(-0.5px, -2.5px) rotate(0.5deg); }
                        80% { transform: translate(1.5px, -0.5px) rotate(0.5deg); }
                        82% { transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
                        84% { transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
                        86% { transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
                        88% { transform: translate(-2.5px, -2.5px) rotate(-1.5deg); }
                        90% { transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
                        92% { transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
                        94% { transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
                        96% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
                        98% { transform: translate(-0.5px, -1.5px) rotate(0.5deg); } 
}

@media(min-width:1600px){

    #slide-home h1{
        font-size: 190px;
        margin-top: -115px;
    }
    #slide-home h2{
        font-size: 63px;
        /* margin-top: -75px; */
    }

    .slide-action img{
        /* width: 520px; */
    }

    .bg-pro-web {
        padding: 5% 90px 7%;
    }
    .propiedades {
        margin-bottom: 80px;

    }
    #pro-web h4 {
        margin: 60px 0;
    }
    .contenido-apps{
        padding: 2% 0;
    }
    .contenido-servicios {     
        padding: 5.5% 0;
    }
    .bg-worq2{
        padding: 11% 95px;
    }
}

@media(max-width:1366px){


    header ul {     
        /* margin-left: 7%; */
    }

    .header-center {     
        /* width: auto; */
        /* margin-left: 7%; */


        width: 42%;
    }

    .contenedor-form{
        top: 7%
    }
    input[type=submit] {

        padding: 10px;
    }

}

@media(max-width:1024px){

    .contenido-servicios h3{
        font-size: 56px;
    }
    .contenido-servicios h3 span {       
        font-size: 56px;
    }
    #servicios2 .contenido-servicios h3{
        font-size: 56px;
    }

    .header-center{
        display:none;
    }
    #navegacion-fixed li a {

        font-size: 12px; 
        padding: 0 10px;
    }
}
